body {
    margin: 0 auto; 
    background-color: #ffffff;
    color: #000000;
    transition: color 0.23s, background-color 0.23s;
}


.main {
    width: 80%;
    margin: 100px auto;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.time {
    display: inline-block;
    font-size: 150px; color: #ffffff;
    border-radius: 8px;
    padding: 30px 15px;
    margin-right: 10px;
    background: rgba(0,0,0,0.9);
    transition: color 0.23s, background-color 0.23s;
}

.time-dark {
    background: rgba(255, 255, 255, 0.9);
    transition: background-color 0.23s;
}

h1, h2 {
    font-size: 48px;
}

/* Dark mode*/

button {
    background-color: #0000ff;
    border: none;
    color: #ffffff;
    padding: 24px 32px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 16px;
    position: fixed;
    bottom: 24px;
    right: 32px;
    transition: color 0.23s, background-color 0.23s;
}

.dark-mode {
    background-color: #343434;
    color: white;
    transition: color 0.23s, background-color 0.23s;
}
